*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainWrapper{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 5px rgb(15, 26, 88);
    border-radius: 2px;
}
h2{
    font-style: oblique;
}
i{
    font-size: 60px;
    color:   rgb(15, 26, 88);
    margin-bottom: 40px;
}
input{
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid gray;
}
button{
    background-color: rgb(15, 26, 88);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    cursor: pointer;
    color: white;
}
.newColor{
    color: darkseagreen;
}
#newColor{
    background-color: darkseagreen;
}